<a href="https://colab.research.google.com/github/s-reno/olympics/blob/main/reno_samantha_MLassign5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 5, Part 1: Implement a Perceptron**

o DIABETES (sklearn): implement an MLP Regressor

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.datasets import load_diabetes

In [ ]:
diabetes = load_diabetes ()

In [ ]:
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score

In [ ]:
X = pd.DataFrame(diabetes.data,columns=diabetes.feature_names)
y = diabetes.target

In [ ]:
X_train, X_test, y_train,
y_test = train_test_split(X, y,random_state=88, test_size=0.2)

In [ ]:
scaler = StandardScaler()
X_trainscaled=scaler.fit_transform(X_train)
X_testscaled=scaler.transform(X_test)

In [ ]:
regressor = MLPRegressor(hidden_layer_sizes=(64,64,64),
    activation="relu" ,random_state=1, max_iter=2000).fit(X_trainscaled, y_train)

In [ ]:
y_pred=regressor.predict(X_testscaled)
print("R2 score: ", (r2_score(y_test, y_pred)))

R2 score:  -0.06127736085356128

R2 score should be between 0 and 1, showing how much variance in the target (dependent variable) can be explained by the attributes (independent variable). According to https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html, R^2 score may be negative when a model does not follow the data / fits data poorly.

# **Assignment 5, Part 2: Implement a Keras Classifier**

o TITANIC: implement a Keras
sequential classifier with relu activation functions

In [ ]:
#for converting 'Sex' to numerical

from sklearn.preprocessing import LabelEncoder

Upload file from local drive to google colab

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test (1).csv
Saving train.csv to train (1).csv

assigning variables of uploaded files and changing from csv to pandas dataframe

In [ ]:
import io
titanic_test = pd.read_csv(io.BytesIO(uploaded['test.csv']))
titanic_train = pd.read_csv(io.BytesIO(uploaded['train.csv']))

In [ ]:
titanic_test.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [ ]:
titanic_train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

The difference between the two dataframes is that train has a column for 'survived'. I will not use 'name', 'age', 'ticket', 'fare', 'cabin', or 'embarked' in either dataframes.

Delete unnecessary columns from train and test sets

In [ ]:
titanic_test = titanic_test.drop(['Name', 'Age', 'Ticket','Fare','Cabin','Embarked'],axis =1)

In [ ]:
titanic_train = titanic_train.drop(['Name', 'Age', 'Ticket','Fare','Cabin', 'Embarked'],axis=1)

In [ ]:
titanic_test.head(2)

   PassengerId  Pclass     Sex  SibSp  Parch
0          892       3    male      0      0
1          893       3  female      1      0

In [ ]:
titanic_train.head(2)

   PassengerId  Survived  Pclass     Sex  SibSp  Parch
0            1         0       3    male      1      0
1            2         1       1  female      1      0

Move 'Survived' column to first column of titanic_train.

In [ ]:
titanic_train = titanic_train[['Survived', 'PassengerId', 'Pclass', 'Sex','SibSp','Parch']]

'Sex' is not numerical. (titanic_test -- col 2 / titanic_train -- col 3)

In [ ]:
lab_enc = LabelEncoder()

In [ ]:
titanic_train.iloc[:,3]  = lab_enc.fit_transform(titanic_train.iloc[:,3])
titanic_test.iloc[:,2] = lab_enc.fit_transform(titanic_test.iloc[:,2])

In [ ]:
titanic_train.head(2)

   Survived  PassengerId  Pclass  Sex  SibSp  Parch
0         0            1       3    1      1      0
1         1            2       1    0      1      0

**TRAINING** **MODEL**

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
X_train = titanic_train[['PassengerId','Pclass','Sex','SibSp','Parch']]  #attributes columns
y_train = titanic_train['Survived']  #target (survived) column

In [ ]:
#use StandardScaler from above (scaler)

X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(titanic_test)

In [ ]:
#initialize
classifier = Sequential()

INPUT LAYER

In [ ]:
classifier.add(Dense(5, activation = 'relu', input_dim = 5))

HIDDEN LAYER

In [ ]:
classifier.add(Dense(100, activation = 'relu', kernel_initializer="uniform"))

OUTPUT LAYER (predict survived (1) or died (0))

In [ ]:
classifier.add(Dense(1, activation = 'sigmoid', kernel_initializer="uniform"))

COMPLING MODEL

In [ ]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4346 - accuracy: 0.8047
Epoch 2/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4344 - accuracy: 0.8047
Epoch 3/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4352 - accuracy: 0.8002
Epoch 4/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4349 - accuracy: 0.8002
Epoch 5/100
90/90 [==============================] - 1s 6ms/step - loss: 0.4354 - accuracy: 0.8081
Epoch 6/100
90/90 [==============================] - 1s 7ms/step - loss: 0.4340 - accuracy: 0.8081
Epoch 7/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4343 - accuracy: 0.8058
Epoch 8/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4350 - accuracy: 0.8114
Epoch 9/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4344 - accuracy: 0.8058
Epoch 10/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4325 - accuracy: 0.8137
Epoch 11/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4334 - accuracy: 0.8114
Epoch 12/100
90/90 [==============================] - 0s 4ms/step - loss: 0.4341 - accuracy: 0.8081
Epoch 13/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4329 - accuracy: 0.8103
Epoch 14/100
90/90 [==============================] - 0s 4ms/step - loss: 0.4334 - accuracy: 0.8047
Epoch 15/100
90/90 [==============================] - 0s 4ms/step - loss: 0.4327 - accuracy: 0.8025
Epoch 16/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4325 - accuracy: 0.8081
Epoch 17/100
90/90 [==============================] - 0s 4ms/step - loss: 0.4327 - accuracy: 0.8126
Epoch 18/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4335 - accuracy: 0.8081
Epoch 19/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4327 - accuracy: 0.8070
Epoch 20/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4355 - accuracy: 0.7969
Epoch 21/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4319 - accuracy: 0.8058
Epoch 22/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4331 - accuracy: 0.8092
Epoch 23/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4338 - accuracy: 0.8025
Epoch 24/100
90/90 [==============================] - 0s 5ms/step - loss: 0.4317 - accuracy: 0.8114
Epoch 25/100
90/90 [==============================] - 1s 6ms/step - loss: 0.4332 - accuracy: 0.8025
Epoch 26/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4325 - accuracy: 0.8047
Epoch 27/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4311 - accuracy: 0.8025
Epoch 28/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4323 - accuracy: 0.8114
Epoch 29/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4328 - accuracy: 0.8058
Epoch 30/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4343 - accuracy: 0.8047
Epoch 31/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4328 - accuracy: 0.8047
Epoch 32/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4324 - accuracy: 0.8070
Epoch 33/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4315 - accuracy: 0.8114
Epoch 34/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4329 - accuracy: 0.8092
Epoch 35/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4322 - accuracy: 0.8047
Epoch 36/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4309 - accuracy: 0.8058
Epoch 37/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4303 - accuracy: 0.8114
Epoch 38/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4320 - accuracy: 0.8126
Epoch 39/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4333 - accuracy: 0.8036
Epoch 40/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4324 - accuracy: 0.8137
Epoch 41/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4318 - accuracy: 0.8159
Epoch 42/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4320 - accuracy: 0.8025
Epoch 43/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4308 - accuracy: 0.8081
Epoch 44/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4318 - accuracy: 0.8013
Epoch 45/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4314 - accuracy: 0.8148
Epoch 46/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4304 - accuracy: 0.8058
Epoch 47/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4309 - accuracy: 0.8047
Epoch 48/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4311 - accuracy: 0.8036
Epoch 49/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4308 - accuracy: 0.8081
Epoch 50/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4313 - accuracy: 0.8081
Epoch 51/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4300 - accuracy: 0.8092
Epoch 52/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4301 - accuracy: 0.8103
Epoch 53/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4296 - accuracy: 0.8081
Epoch 54/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4299 - accuracy: 0.8137
Epoch 55/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4323 - accuracy: 0.8081
Epoch 56/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4306 - accuracy: 0.8070
Epoch 57/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4315 - accuracy: 0.8126
Epoch 58/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4284 - accuracy: 0.8114
Epoch 59/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4296 - accuracy: 0.8025
Epoch 60/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4289 - accuracy: 0.8092
Epoch 61/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4307 - accuracy: 0.8058
Epoch 62/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4314 - accuracy: 0.8070
Epoch 63/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4309 - accuracy: 0.8058
Epoch 64/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4303 - accuracy: 0.8070
Epoch 65/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4292 - accuracy: 0.8103
Epoch 66/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4312 - accuracy: 0.8081
Epoch 67/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4295 - accuracy: 0.8114
Epoch 68/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4298 - accuracy: 0.8103
Epoch 69/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4302 - accuracy: 0.8103
Epoch 70/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4294 - accuracy: 0.8058
Epoch 71/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4291 - accuracy: 0.8114
Epoch 72/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4293 - accuracy: 0.8103
Epoch 73/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4295 - accuracy: 0.8137
Epoch 74/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4318 - accuracy: 0.8092
Epoch 75/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4287 - accuracy: 0.8103
Epoch 76/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4307 - accuracy: 0.8047
Epoch 77/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4300 - accuracy: 0.8058
Epoch 78/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4297 - accuracy: 0.8148
Epoch 79/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4316 - accuracy: 0.8092
Epoch 80/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4284 - accuracy: 0.8103
Epoch 81/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4293 - accuracy: 0.8092
Epoch 82/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4285 - accuracy: 0.8002
Epoch 83/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4293 - accuracy: 0.8171
Epoch 84/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4285 - accuracy: 0.8126
Epoch 85/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4284 - accuracy: 0.8159
Epoch 86/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4302 - accuracy: 0.8103
Epoch 87/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4273 - accuracy: 0.8103
Epoch 88/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4293 - accuracy: 0.8036
Epoch 89/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4272 - accuracy: 0.8159
Epoch 90/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4286 - accuracy: 0.8114
Epoch 91/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4297 - accuracy: 0.8002
Epoch 92/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4282 - accuracy: 0.8114
Epoch 93/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4285 - accuracy: 0.8092
Epoch 94/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4280 - accuracy: 0.8137
Epoch 95/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4273 - accuracy: 0.8137
Epoch 96/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4276 - accuracy: 0.8137
Epoch 97/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4269 - accuracy: 0.8137
Epoch 98/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4270 - accuracy: 0.8126
Epoch 99/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4266 - accuracy: 0.8171
Epoch 100/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4286 - accuracy: 0.8103

The best accuracy calculated is 81.71% based on the above display.

In [ ]:
prediction = np.round(classifier.predict(X_test))

In [ ]:
prediction = pd.DataFrame(prediction)

In [ ]:
result = pd.concat([titanic_test[["PassengerId"]], prediction], axis = 1)

The following pandas dataframe displays 'Survived (1)' or 'Died (0)' for the titanic_test dataset based on the training through 100 epochs of the titanic_train data.

In [ ]:
result

     PassengerId    0
0            892  0.0
1            893  1.0
2            894  0.0
3            895  0.0
4            896  1.0
..           ...  ...
413         1305  0.0
414         1306  1.0
415         1307  0.0
416         1308  0.0
417         1309  0.0

[418 rows x 2 columns]

# **Assignment 5, Part 3: Implement a Keras Regressor**

BIKESHARE: Keras sequential regressor with relu activation functions.

In [110]:
from google.colab import files
uploaded = files.upload()

Saving hour.csv to hour.csv

In [111]:
import io
bike_data = pd.read_csv(io.BytesIO(uploaded['hour.csv']))

# **Assignment 5, Part 4: Tune Your Keras Regressor**

Tune your Keras regressor from Part 3 by implementing a grid search with
different optimizers